body{
    color: #212121;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
}
.login{
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #212121;
}
.TD{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 0;

}

#nome , #senha{
    all: unset;
    margin-top: 6px;
    height: 35px;
    width: 180px;
    font-size: 25px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    color: #252525;
}

#nome:focus, 
#senha:focus {
    border-color: #4e4e4e;
}

#erro {
    margin: 0;
    padding-top: 10px;
    color: red;
    font-size: 15px;
}

#btn{
    all: unset;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
    background-color: #4e4e4e;
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#btn-olho{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    position: fixed;
    margin-left: 265px;
    margin-top: 5px;
    background: none;

}

.olhos{
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
}